TEST/services/License_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="License"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="LicenseOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LicenseOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="LicenseOperationRequest">
		<wsdl:part name="parameters" element="tns:LicenseOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LicenseOperationResponse">
		<wsdl:part name="parameters" element="tns:LicenseOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="LicensePortType">
		<wsdl:operation name="LicenseOperation">
			<wsdl:input message="tns:LicenseOperationRequest"></wsdl:input>
			<wsdl:output message="tns:LicenseOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LicenseBinding" type="tns:LicensePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="LicenseOperation">
			<soap:operation soapAction="http://www.talend.org/service/LicenseOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="License">
		<wsdl:port name="LicensePort" binding="tns:LicenseBinding">
			<soap:address location="http://localhost:8090/services/License" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>