TEST/services/License_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="License"
		targetNamespace="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="getLicenseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLicenseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.xmlsoap.org/wsdl/http/">
        	<xsd:element name="getLicenseByNumber" type="xsd:string">
        	</xsd:element>
        	<xsd:element name="getLicenseByNumberResponse"
        		type="xsd:string">
        	</xsd:element>
        	
        </xsd:schema>
    </wsdl:types>

	<wsdl:message name="getLicenseRequest">
		<wsdl:part name="parameters" element="tns:getLicenseRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLicenseResponse">
		<wsdl:part name="parameters" element="tns:getLicenseResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="parameter">
		<wsdl:part name="parameter" element="http:getLicenseByNumber"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="NewMessage">
    	<wsdl:part name="parameter"
    		element="http:getLicenseByNumberResponse">
    	</wsdl:part></wsdl:message>
    <wsdl:portType name="LicensePortType">
		<wsdl:operation name="getLicense">
			<wsdl:input message="http:parameter"></wsdl:input>
			<wsdl:output message="http:NewMessage"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LicenseBinding" type="http:LicensePortType">

		<http:binding verb="GET" />
		<wsdl:operation name="getLicense">

			<http:operation location="/LicenseOperation" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="License">
		<wsdl:port name="LicensePort" binding="http:LicenseBinding">
            <http:address location="http://localhost:8090/services/License"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>