TEST/MDM/datamodel/Customer_0.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="Customer" type="Customer">
<xsd:unique name="Customer">
<xsd:selector xpath="."/>
<xsd:field xpath="Id"/>
</xsd:unique>
</xsd:element>
<xsd:simpleType name="AUTO_INCREMENT">
<xsd:restriction base="xsd:integer">
<xsd:pattern value="[\-+]?[0-9]+"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Customer">
<xsd:all>
<xsd:element maxOccurs="1" minOccurs="1" name="Id" type="AUTO_INCREMENT"/>
<xsd:element maxOccurs="1" minOccurs="0" name="CustomerName" type="xsd:string"/>
</xsd:all>
</xsd:complexType>
</xsd:schema>
