AUSTROADS/services/EndPoint_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EndPoint"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="GetLicenseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LicenseNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetLicenseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PersonNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="LicenseNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StatusCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StatusReasonCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="DriverClassCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="DriverClassTypeCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="IssueDate"
							type="xsd:dateTime">
						</xsd:element>
						<xsd:element name="ExpiryDate"
							type="xsd:dateTime">
						</xsd:element>
						<xsd:element name="EndDate"
							type="xsd:dateTime">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPerson">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="PersonNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPersonResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="PersonNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StatusCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="ClassCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Surname" type="xsd:string">
						</xsd:element>
						<xsd:element name="FirstName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="SubsequentName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="Gender" type="xsd:string">
						</xsd:element>
						<xsd:element name="DOB" type="xsd:dateTime">
						</xsd:element>
						<xsd:element name="SuppressionCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAddress">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="PersonNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetAddressResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="AddressTypeCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="HouseNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StreetName"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StreetTypeCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StreetSuffixCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="StateCode"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="PostCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Response">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetLicenseRequest">
		<wsdl:part name="parameters" element="tns:GetLicenseRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetLicenseResponse">
		<wsdl:part name="parameters" element="tns:GetLicenseResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="GetPersonRequest">
		<wsdl:part name="parameters" element="tns:GetPerson"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetPersonResponse">
		<wsdl:part name="parameters" element="tns:GetPersonResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAddressRequest">
		<wsdl:part name="parameters" element="tns:GetAddress"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetAddressResponse">
		<wsdl:part name="parameters" element="tns:GetAddressResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Request">
		<wsdl:part name="parameters" element="tns:"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="parameters" element="tns:Response"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EndPointPortType">
		<wsdl:operation name="GetLicense">
			<wsdl:input message="tns:GetLicenseRequest"></wsdl:input>
			<wsdl:output message="tns:GetLicenseResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<wsdl:input message="tns:GetPersonRequest"></wsdl:input>
			<wsdl:output message="tns:GetPersonResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAddress">
			<wsdl:input message="tns:GetAddressRequest"></wsdl:input>
			<wsdl:output message="tns:GetAddressResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EndPointBinding" type="tns:EndPointPortType">

		<http:binding verb="GET" />
		<wsdl:operation name="GetLicense">

			<http:operation location="/GetLicense" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />


			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">

			<http:operation location="/GetPerson" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetAddress">

			<http:operation location="/GetAddress" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EndPoint">
		<wsdl:port name="EndPointPort" binding="tns:EndPointBinding">
			<soap:address location="http://localhost:8090/services/EndPoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>