AUSTROADS/services/EndPoint_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EndPoint"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="GetLicenseRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="LicenseNumber"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="JurisdictionCode"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetLicenseResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetLicenseRequest">
		<wsdl:part name="parameters" element="tns:GetLicenseRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetLicenseResponse">
		<wsdl:part name="parameters" element="tns:GetLicenseResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="EndPointPortType">
		<wsdl:operation name="GetLicense">
			<wsdl:input message="tns:GetLicenseRequest"></wsdl:input>
			<wsdl:output message="tns:GetLicenseResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EndPointBinding" type="tns:EndPointPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetLicense">
			<soap:operation soapAction="http://www.talend.org/service/GetLicense" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="EndPoint">
		<wsdl:port name="EndPointPort" binding="tns:EndPointBinding">
			<soap:address location="http://localhost:8090/services/EndPoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>