AUSTROADS/services/simple_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="simple"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="simpleOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simpleOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="simpleOperationRequest">
		<wsdl:part name="parameters" element="tns:simpleOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="simpleOperationResponse">
		<wsdl:part name="parameters" element="tns:simpleOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="simplePortType">
		<wsdl:operation name="simpleOperation">
			<wsdl:input message="tns:simpleOperationRequest"></wsdl:input>
			<wsdl:output message="tns:simpleOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="simpleBinding" type="tns:simplePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="simpleOperation">
			<soap:operation soapAction="http://www.talend.org/service/simpleOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="simple">
		<wsdl:port name="simplePort" binding="tns:simpleBinding">
			<soap:address location="http://localhost:8090/services/simple" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>