AUSTROADS/services/simple_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="simple"
		targetNamespace="http://www.talend.org/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="simpleOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simpleOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simple1">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
						<xsd:element name="input"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simple1Response">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
						<xsd:element name="output"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="simpleOperationRequest">
		<wsdl:part name="parameters" element="tns:simpleOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="simpleOperationResponse">
		<wsdl:part name="parameters" element="tns:simpleOperationResponse"></wsdl:part>
	</wsdl:message>



	<wsdl:message name="simple1Request">
		<wsdl:part name="parameters" element="tns:simple1"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="simple1Response">
		<wsdl:part name="parameters" element="tns:simple1Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationRequest">
		<wsdl:part name="parameters" element="tns:NewOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewOperationResponse">
		<wsdl:part name="parameters" element="tns:NewOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimplePort">
		<wsdl:operation name="simple1">
			<wsdl:input message="tns:simple1Request"></wsdl:input>
			<wsdl:output message="tns:simple1Response"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="simpleBinding" type="tns:SimplePort">

		<http:binding verb="GET" required="true"/>
		<wsdl:operation name="simple1">

			<http:operation location="/simple1" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimpleService">
		<wsdl:port name="NewPort" binding="tns:simpleBinding">
            <http:address location="http://localhost:8090/simple"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>