AUSTROADS/services/test_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="test"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testOperationRequest">
		<wsdl:part name="parameters" element="tns:testOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testOperationResponse">
		<wsdl:part name="parameters" element="tns:testOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="testPortType">
		<wsdl:operation name="testOperation">
			<wsdl:input message="tns:testOperationRequest"></wsdl:input>
			<wsdl:output message="tns:testOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testBinding" type="tns:testPortType">

		<http:binding verb="GET" />
		<wsdl:operation name="testOperation">

			<http:operation location="/testOperation" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="test">
		<wsdl:port name="testPort" binding="tns:testBinding">
            <http:address location="http://localhost:8090/services/test"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>