AUSTROADS/services/test_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="test"
		targetNamespace="http://www.talend.org/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://www.talend.org/service/" xmlns:p="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="testOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testOperation2">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="testOperation2Response">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NewElement" type="http:NewType"></xsd:element>
			<xsd:element name="NewElement1" type="http:NewType1"></xsd:element>

			<xsd:complexType name="NewType">
				<xsd:sequence>
					<xsd:element name="NewElement" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		
			<xsd:complexType name="NewType1">
				<xsd:sequence>
					<xsd:element name="NewElement" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="testOperationRequest">
		<wsdl:part name="parameters" element="tns:testOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testOperationResponse">
		<wsdl:part name="parameters" element="tns:testOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="testOperation2Request">
		<wsdl:part name="parameters" element="tns:testOperation2"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testOperation2Response">
		<wsdl:part name="parameters" element="tns:testOperation2Response"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewMessage">
		<wsdl:part name="NewPart" element="http:NewElement"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="NewMessage1">
		<wsdl:part name="NewPart" element="http:NewElement1"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="testPortType">
		<wsdl:operation name="testOperation">
			<wsdl:input message="http:NewMessage"></wsdl:input>
			<wsdl:output message="http:NewMessage1"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testBinding" type="http:testPortType">

		<p:binding verb="GET" />
		<wsdl:operation name="testOperation">

			<p:operation location="/testOperation" />
			<wsdl:input>

				<p:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />




			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testOperation2">

			<p:operation location="/testOperation2" />
			<wsdl:input>

				<p:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />


			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="test">
		<wsdl:port name="testPort" binding="http:testBinding">
            <p:address location="http://localhost:8090/services/test"/>
        </wsdl:port>
	</wsdl:service>
</wsdl:definitions>